$days: 28, 29, 30, 31;
$week: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);

* {
  box-sizing: border-box;
}

@each $day in $days {
  .calendar-#{ $day } {
    display: flex;
    flex-wrap: wrap;
    width: 707px;
    margin: 50px auto;
  }
  .calendar-#{$day} > div {
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 0;
    margin-left: 1px;
    margin-bottom: 1px;

    background: #eee;
    border: 1px solid black;
    transition: all 0.5s ease-out;
  }
  .calendar-#{$day} {
    div:first-child {
      margin-left: 0;
    }
  }
  @for $day_month from 1 to 32 {
    .calendar {
      div:nth-child(#{$day_month}):after {
        content: "#{$day_month}";
        position: absolute;
        top: 50%;
        left: 50%;

        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 30px;
        transform: translate(-50%, -50%);
      }
      div:nth-child(#{$day}):after {
        content: "#{$day}";
      }
    }
  }
  .calendar-#{ $day} {
    @for $j from $day +1 to 32 {
      div:nth-child(#{$j}) {
        display: none;
      }
    }
  }
}

.calendar > div:hover {
  bottom: 20px;

  background-color: pink;
  cursor: pointer;
}
@each $day_week,$num_day in $week {
  .calendar-#{ $day_week } {
    div:first-child {
      margin-left: (100px +1)*$num_day+1;
    }
  }
}
